{{ define "navbar-authenticated" }}
<header>
  <nav class="nav-bar">
    <ul class="links">
      <li><strong><a href="/">Home</a></strong></li>
      <li><strong><a href="/note/new">New Note</a></strong></li>
      <li><strong><a href="/section">Sections</a></strong></li>
      <li><strong><a href="/index">Index</a></strong></li>
    </ul>
    <ul class="links right">
      <li>
	<button type="button" class="svg-button" id="theme-toggle-btn" hx-put="/user/{{ .UserId }}/theme">
	  <svg>
	    <use href="/static/vendor/svg/lucide-icons-sprite.svg#sun-moon"/>
	  </svg>
	</button>
      </li>
      <li><strong><a class="link" hx-delete="/session">Logout</a></strong></li>
    </ul>
  </nav>
</header>
{{ end }}


{{ define "navbar-admin" }}
<header>
  <nav class="nav-bar">
    <ul class="links right">
      <li>
	<button type="button" class="svg-button" id="theme-toggle-btn" hx-put="/user/{{ .UserId }}/theme">
	  <svg>
	    <use href="/static/vendor/svg/lucide-icons-sprite.svg#sun-moon"/>
	  </svg>
	</button>
      </li>
      <li><strong><a class="link" hx-delete="/session">Logout</a></strong></li>
    </ul>
  </nav>
</header>


{{ end }}


{{ define "navbar-unauthenticated" }}
<header>
  <nav class="nav-bar">
  </nav>
</header>
{{ end }}
