{{ define "navbar" }}
<header>
<nav class="nav-bar">
  <ul class="links">
    <li><strong><a href="/">Home</a></strong></li>
    <li><strong><a href="/note/new">New Note</a></strong></li>
    <li><strong><a href="/section">Sections</a></strong></li>
    <li><strong><a href="/index">Index</a></strong></li>
  </ul>
  <ul>
    <details id="navbar-dropdown" class="dropdown">
      <summary>
	Settings
      </summary>
      <ul dir="rtl">
	<li><a id="theme-toggle-btn" href="#">Toggle Theme</a></li>
	{{ if .IsAuthenticated }}
	<li><a hx-post="/logout">Logout</a></li>
	{{ else }}
	<li><a href="/login">Login</a></li>
	{{ end }}
      </ul>
    </details>
  </ul>
</nav>
</header>
{{ end }}
