{{ define "note-table" }}
<div class="article-container">
{{ range . }}

<article>
  <header>
    <h2>
      <a href="/note/{{.Id}}/{{ slugify .Title }}" hx-boost="true">{{ safeHTML .TitleHighlight }}</a>
    </h2>
  </header>
  {{ safeHTML .ContentSnippet }}
  <footer>
    <p>Section: </p>
    <p>Tags: {{safeHTML .TagNames }}</p>
  </footer>
</article>

{{ end }}
</div>
{{ end }}
