{{ define "rendered-note" }}

<div class="rendered-note-page">
  <div class="title-line">
    <h2> {{ .Note.Title }}</h2>

          <button type="button" hx-target="body" hx-delete="/note/{{ .Note.Id }}/{{ slugify .Note.Title }}"  hx-confirm="Delete {{ .Note.Title }}?" class="icon-button">
	<svg>
	  <use href="/static/vendor/svg/lucide-icons-sprite.svg#trash-2">
	</svg>
      </button>
    
    <p><a href="/section/{{ .Note.Section.Id }}/{{ .Note.Section.Name }}"> {{ .Note.Section.Name }}</a></p>
    {{ if .Preview }}
    <button id="mde-preview-btn" type="button" class="icon-button">
      <svg class="icon">
	<use href="/static/vendor/svg/lucide-icons-sprite.svg#eye-off">
      </svg>
    </button>
    <button type="submit" class="icon-button">
      <svg>
	<use href="/static/vendor/svg/lucide-icons-sprite.svg#save">
      </svg>
    </button>
    {{ else }}
    <a href="/edit/{{ .Note.Id }}/{{ slugify .Note.Title }}" class="icon-button">
      <svg>
	<use href="/static/vendor/svg/lucide-icons-sprite.svg#file-pen-line">
      </svg>
    </a>
    {{ end}}


    
  </div>

  {{ .HTMLContent }}


</div>

{{ end }}
