{{ define "rendered-note" }}

<div class="rendered-note">
  <div class="breadcrumb-row">

     <div class="breadcrumb">
        <a href="/section/{{ .Note.Section.Id }}/{{ .Note.Section.Name }}">{{ .Note.Section.Name }}</a>
        <span class="separator">/</span>
        <span>{{ .Note.Title }}</span>
     </div>


     <div class="breadcrumb-buttons">
     <button id="btn-tag-modal" type="button" command="show-modal" commandFor="tag-modal" class="icon-button">
       <svg>
	 <use href="/static/vendor/svg/lucide-icons-sprite.svg#tags">
       </svg>
     </button>

     <button id="btn-select-ref-notes" type="button" class="icon-button">
       <svg>
	 <use href="/static/vendor/svg/lucide-icons-sprite.svg#file-symlink">
       </svg>
     </button>
    
    {{ if .Preview }}
        <button type="button" hx-target="body" hx-delete="/note/{{ .Note.Id }}/{{ slugify .Note.Title }}"  hx-confirm="Delete {{ .Note.Title }}?" class="icon-button">
      <svg>
	<use href="/static/vendor/svg/lucide-icons-sprite.svg#trash-2">
      </svg>
    </button>
    <button id="mde-preview-btn" type="button" class="icon-button">
      <svg class="icon">
	<use href="/static/vendor/svg/lucide-icons-sprite.svg#eye-off">
      </svg>
    </button>
    <button type="submit" class="icon-button">
      <svg>
	<use href="/static/vendor/svg/lucide-icons-sprite.svg#save">
      </svg>
    </button>
    {{ else }}
    <a class="icon-button" href="/edit/{{ .Note.Id }}/{{ slugify .Note.Title }}">
      <svg>
	<use href="/static/vendor/svg/lucide-icons-sprite.svg#file-pen-line">
      </svg>
    </a>
    {{ end}}


    </div>
  </div>

  <h1> {{ .Note.Title }}</h1>

  {{ .HTMLContent }}


  <dialog id="tag-modal" closedBy="any">
    <article>
      <header>
	<button rel="prev" class="close-btn" type="button" command="close" commandFor="tag-modal" aria-label="Close"></button>
	<h4>Tags</h4>
      </header>
      <ul>
      {{ range .Note.Tags }}
      <li><a href="/tag/{{ .Id }}/{{ .Name }}">{{ .Name }}</a></li>
      {{ end }}
      </ul>
    </article>
  </dialog>

  
</div>

{{ end }}
