{{ define "local-datetime" }}
<time class="local-time" datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">{{ .Format "Jan 2, 2006 3:04 PM" }} UTC</time>
{{ end }}


{{ define "user-edit" }}
<tr>
  <td>{{ .User.Id }}</td>
  <td><input name="name" value="{{ .User.Name }}" class="input"></td>
  <td><a>Change Password</a></td>
  <td><input type="checkbox" {{ if .User.IsAdmin }} checked {{ end }} ></td>
  <td>{{ template "local-datetime" .User.CreatedAtUTC }}</td>
  <td>{{ template "local-datetime" .User.LastLoginUTC }}</td>
  <td>

    <button hx-get="/user/{{ .User.Id }}" hx-target="closest tr" hx-swap="outerHTML">Cancel</button>
    <button hx-put="/user/{{ .User.Id }}" hx-include="closest tr">Save</button>
  </td>
</tr>
{{ end }}


{{ define "user-row" }}

<tr>
  <td>{{ .Id }}</td>
  <td>{{ .Name }}</td>
  <td>******</td>
  <td>{{ .IsAdmin }}</td>
  <td>{{ template "local-datetime" .CreatedAtUTC }}</td>
  <td>{{ template "local-datetime" .LastLoginUTC }}</td>
  <td>
    <button hx-get="/user/{{ .Id }}/edit" hx-target="closest tr" hx-swap="outerHTML">Edit</button>
    <button command="show-modal" commandFor="delete-user-{{ .Id }}">Delete</button>
  </td>
</tr>

{{ end }}

{{ define "user-delete-dialog" }}
<dialog id="delete-user-{{ .Id }}">
  <article class="dialog-modal">
    <header class="header">
      <h4>Confirm Deletion</h4>
      <button rel="prev" class="svg-button" type="button" command="close" commandFor="delete-user-{{ .Id }}" aria-label="Close">
	<svg>
	  <use href="/static/vendor/svg/lucide-icons-sprite.svg#x"/>
	</svg>
      </button>
    </header>
    <div class="content">
      <p>Delete user {{ .Name }}?  This is irreversible and will delete all user data.</p>
    </div>
    <footer class="footer">
      <button class="text-button" command="close" commandFor="delete-user-{{ .Id }}">Cancel</button>
      <button class="text-button" hx-delete="/user/{{ .Id }}">Delete</button>
    </footer>
  </article>
</dialog>

{{ end }}

{{ define "user-new" }}

<tr>
  <td></td>
  <td>    
    <input name="username" class="input">
    {{ with .FieldErrors.name }}
    <label>{{ . }}</label>
    {{end }}
  </td>
  <td>
    <input name="password" class="input">
    {{ with .FieldErrors.password }}
    <label>{{ . }}<label>
    {{ end }}
  </td>
  <td><input type="checkbox" {{ if .IsAdmin }} checked {{ end }}></td>
  <td></td>
  <td></td>
  <td>
    <button id="remove-table-row" type="button" class="text-button">Cancel</button>
    <button class="text-button" hx-post="/user" hx-include="closest tr" hx-target="closest tr" hx-swap="outerHTML">Save</button>
  </td>
</tr>

{{ end }}
