{{define "base"}}
<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>{{template "title" . }}</title>
  </head>
  <body>
    <nav style="text-align: center;">
      <a href="/">Home</a>
      <a href="/index">Index</a>
      Communis
    </nav>
    <main>
      {{template "main" . }}
    </main>
    {{template "scripts" . }}
    <script src="/static/js/htmx_v2-0-7.js"></script>
  </body>

</html>

{{end}}
