{{define "layout"}}
<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/vendor/js/htmx_v4-0-0_alpha4.js"></script>
    <link rel="stylesheet" href="/static/vendor/css/water-dark.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{{template "title" . }}</title>
  </head>
  <body>
    <nav style="text-align: center;">
      <a href="/">Home</a>
      <a href="/index">Index</a>
      Communis
    </nav>
    {{template "main" . }}
    {{template "scripts" . }}
  </body>

</html>

{{end}}
