{{ define "title" }}Admin{{ end }}


{{ define "main" }}
<div class="thin-container">
  <h4>Users</h4>
  <button hx-get="/user/new" hx-swap="prepend" hx-target="#users-table">Add User</button>
  <table id="users-table">
    <thead>
      <tr>
	<th>ID</th>
	<th>Name</th>
	<th>Password</th>
	<th>IsAdmin</th>
	<th>Created At</th>
	<th>Last Login</th>
	<th></th>
      </tr>
    </thead>
    {{ range .Users }}
    	{{ template "user-row" . }}
    {{ end }}
    
  </table>
</div>

{{ end }}
