{{ define "title" }}Admin{{ end }}


{{ define "main" }}
<main>
  <table id="users-table" class="users-table">
    <caption>Users</caption>
    <thead>
      <tr>
	<th scope="col">ID</th>
	<th scope="col">Name</th>
	<th scope="col">Password</th>
	<th scope="col">Administrator</th>
	<th scope="col" class="date">Created At</th>
	<th scope="col" class="date">Last Login</th>
	<th scope="col"><button hx-get="/user/new" hx-swap="append show:bottom" hx-target="#user-rows">Add User</button></th>
      </tr>
    </thead>
    <tbody id="user-rows">
    {{ range .Users }}
    {{ template "user-row" . }}
    {{ end }}
    </tbody>
  </table>
  
</main>

{{ range .Users }}
{{ template "user-delete-dialog" . }}
{{ end }}

{{ end }}
