{{define "title"}} Home {{end}}

{{define "main"}}

<div class="homepage">
  <form  action="/search" method="GET" role="search" autocomplete="off">
    <input id="search-home" type="search" name="q" placeholder="Search..." autofocus>
  </form>

  <h5>RECENTLY MODIFIED</h5>
  {{ range .NoteDetails }}
  <p>
    <a class="flex-1" href="/note/{{ .Id }}/{{ slugify .Title }}">{{ .Title }}</a>
  </p>
  {{ end }}
</div>
{{end}}

