{{define "title"}} Home {{end}}

{{define "main"}}

<main class="home-page">
  <form class="search-form" action="/search" method="GET" role="search" autocomplete="off">
    <svg class="icon">
      <use href="/static/vendor/svg/lucide-icons-sprite.svg#book-search"/>
    </svg>
    <input class="field" id="search-home" type="search" name="q" aria-label="search" placeholder="Search..." autofocus>
  </form>

  <div class="note-links">
    <p><strong>RECENTLY MODIFIED</strong></p>
    <ul class="list-of-links -center">
  {{ range .NoteDetails }}
  <li>
    <a class="flex-1" href="/note/{{ .Id }}/{{ slugify .Title }}">{{ .Title }}</a>
  </li>
  {{ end }}
  </ul>
  </div>
</main>
{{end}}

