{{ define "title" }}Login{{ end }}


{{ define "main" }}

<main class="login-page">
  <form action="/login" method="POST">
    <input name="username" id="username" placeholder="username" type="text" value="{{ .Form.Name }}"></input>
    <input name="password" id="password" placeholder="password" type="password"></input>
    <button type="submit" class="text-button">Login</button>
  </form>
</main>

{{ end }}
