{{ define "title" }}Login{{ end }}


{{ define "main" }}

<main class="login-page">
  <form action="/login" method="POST">

    {{ with .Form.FieldErrors.error }}
    <output class="msg-box -warn">
      <p>{{ . }}</p>
    </output>
    {{ else }}
    <output class="msg-box -hidden"></output>
    {{ end }}
    
    <label for="username">Username</label>
    <input class="text-input" name="name" id="name" type="text" value="{{ .Form.Name }}"></input>

    <label for="password">Password</label>
    <input class="text-input" name="password" id="password" type="password"></input>

    <button type="submit" class="text-button -alt">Login</button>
  </form>
</main>

{{ end }}
