{{define "title"}} {{ .Note.Title }} {{ end }}


{{ define "main" }}

<h1> {{ .Note.Title }} </h1>

{{ .HTMLContent }}


<p>
  Section: <a>{{ .Note.Section.Name }}</a>
</p>

<p>
  Tags: {{ range .Note.Tags }} <a>{{ .Name }}</a> {{end}}
</p>

{{ end }}
