{{define "title"}} New Note {{end}}

{{define "main"}}

<div class="note-edit-page">
  {{ if .Status.IsNew }}
  <form id="note-editor" action="/note" method="POST">
    {{ else }}
    <form id="note-editor" hx-put="/note/{{ .FormData.Id }}/{{ slugify .FormData.Title}}">
      {{ end }}
      <div class="flex">
	<input class="flex-100" type="text" id="title" name="title" value="{{ .FormData.Title }}" placeholder="Title"/>

	<!-- TODO hide delete button if it is a new note since there is nothing to delete -->
	<button class="flex-1" type="button" hx-target="body" hx-delete="/note/{{ .FormData.Id }}/{{ slugify .FormData.Title }}"  hx-confirm="Delete {{ .FormData.Title }}?">Delete</button>
	<input class="flex-1" type="submit" value="Save"/>
      </div>

      <div class="flex">
	<div class="flex-1">
	  <select list="section-list" id="section" name="section">
	    <option value="-1">Section</option>
	    {{ range .AllSections }}
	    {{ if eq .Id $.FormData.SectionId }}<option value="{{ .Id }}" selected>{{ .Name }}</option>
	    {{ else }}<option value="{{ .Id }}">{{ .Name }}</option>
	    {{ end }}
	    {{ end }}
	  </select>

	  {{ with .FieldErrors.section }}
	  <label class="error">{{ . }}</label>
	  {{ end }}
	</div>

	<div class="flex-5 flex">

	  <dialog id="select-tag-modal" closedBy="any">
	    <article>
	      <header>
		<button rel="prev" class="close-btn" type="button" command="close" commandFor="select-tag-modal" aria-label="Close"></button>
		<h4>Select Tags</h4>
	      </header>

	      <output class="toast" id="new-tag-output"></output>
	      <fieldset role="search">
		<input type="search" name="tag-name" id="tag-name" placeholder="Search Tags..." autofocus>
		<button id="note-edit-create-tag-btn" type="button" hx-post="/tag" hx-include="[name='tag-name']" hx-target="#new-tag-output">+</button>
	      </fieldset>

	      <fieldset id="tag-selector" tabindex="0">
		{{ range .AllTags }}
		{{ if containsInt $.FormData.TagIds .Id }}
		<input type="checkbox" name="tags" id="tag-{{ .Id }}" value={{ .Id }} checked>
		{{ else }}
		<input type="checkbox" name="tags" id="tag-{{ .Id }}" value={{ .Id }}>
		{{ end }}
		<label for="tag-{{ .Id }}">{{ .Name }}</label>
		{{ end }}
	      </fieldset>
	    </article>
	  </dialog>
          <button id="btn-select-tag-modal" type="button" command="show-modal" commandFor="select-tag-modal">
  	    Tags<span> (</span><span id="checked-tag-count">{{ len .FormData.TagIds }}</span><span>)</span>
          </button>
	</div>
      </div>


      <br>

      <div id="mde-toolbar" class="flex">
	<button class="flex-1" Type="button" id="mde-bold-btn">Bold</button>
	<button class="flex-1" Type="button" id="mde-italic-btn">Italic</button>
	<button class="flex-1" type="button" id="mde-link-btn">Link</button>
	<button class="flex-1" type="button" id="mde-inline-code-btn">Inline Code</button>
	<button class="flex-1" type="button" id="mde-code-block-btn">Code Block</button>
	<button class="flex-1" type="button" id="mde-h1-btn">H1</button>
	<button class="flex-1" type="button" id="mde-h2-btn">H2</button>
	<button class="flex-1" type="button" id="mde-h3-btn">H3</button>
	<button class="flex-1" type="button" id="mde-unordered-list-button">Unordered List</button>
	<button class="flex-1" type="button" id="mde-ordered-list-button">Ordered List</button>
	<button class="flex-1" type="button" id="mde-quote-btn">Quote</button>
	<button class="flex-1" type="button" id="mde-undo-btn">Undo</button>
	<button class="flex-1" type="button" id="mde-redo-btn">Redo</button>
	<button class="flex-1" id="mde-preview-btn" type="button" hx-target="#mde-preview" hx-post="/note/preview">Preview</button>
      </div>
      <div class="md-editor">
	<textarea id="mde-textarea" name="note-content" class="height-full">{{ .FormData.Content  }}</textarea>
      </div>
    </form>

    <div id="mde-preview" hidden>
      {{ template "rendered-note" .RenderedNote }}
    </div>

</div>
{{end}}
