{{ define "title"}}Search{{end}}

{{ define "main" }}

<div class="thin-container search-page">
  <form action="/search" method="GET" role="search" autocomplete="off">
    <input class="search-input" id="search" type="search" name="q" placeholder="Search..."
	   autofocus
	   value="{{ .Query }}"
	   hx-get="/search"
	   hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
	   hx-target="#search-results"
	   hx-push-url="true">
    <input type="submit" value="Search" />
  </form>
  <br>

  <div id="search-results">
    {{ template "note-table" . }}
  </div>
</div>
{{ end }}
