{{ define "title"}}Search{{end}}

{{ define "main" }}

<main class="search-page">
  <form action="/search" method="GET" role="search" autocomplete="off" class="search-form">
    <svg class="icon">
      <use href="/static/vendor/svg/lucide-icons-sprite.svg#book-search"/>
    </svg>
    <input class="field" id="search" type="search" name="q" placeholder="Search..."
	   autofocus
	   value="{{ .Form.Query }}"
	   hx-get="/search"
	   hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
	   hx-target="#search-results"
	   hx-push-url="true">
  </form>
  <br>

  <div id="search-results" class="search-results">
    {{ template "note-table" .SearchResults }}
  </div>
</main>
{{ end }}
