{{ define "title" }} Sections {{ end }}

{{ define "main" }}
<main class="section-list-page">
  <div class="header-with-buttons">
    <h2 class="title">Sections</h2>
    <div class="buttons">
      <button type="button" class="svg-button" hx-get="/section/new" hx-target="#section-list" hx-swap="append">
	<svg>
	  <use href="/static/vendor/svg/lucide-icons-sprite.svg#plus"/>
	</svg>
      </button>
    </div>
  </div>
  <hr class="hr-column">
  <ul class="list-of-links" id="section-list">
    {{ range .Sections }}

    <li><a href="/section/{{ .Id }}/{{ slugify .Name }}"> {{ .Name }}</a></li>
    {{ end }}
  </ul>
</main>

{{ end }}
