{{ define "title" }} Section - {{ .Section.Name }} {{ end }}

{{ define "main" }}

<div class="thin-container">

  <div class="page-header">
    <div id="title" class="title">
      <h2>{{ .Section.Name }}</h2>
    </div>
    <div class="buttons">
      <button type="button" class="icon-button" command="show-modal" commandFor="section-delete-confirm">
	<svg>
	  <use href="/static/vendor/svg/lucide-icons-sprite.svg#trash-2">
	</svg>
      </button>
      <button type="button" class="icon-button" hx-get="/section/{{ .Section.Id }}/edit" hx-target="#title">
	<svg>
	  <use href="/static/vendor/svg/lucide-icons-sprite.svg#pencil">
	</svg>
      </button>
    </div>
  </div>
  <hr>
  <div class="header-list">
    {{ range .NoteDetails }}
    <h5><a href="/note/{{ .Id }}/{{ slugify .Title }}">{{ .Title }}</a></h5>
    {{ end }}
  </div>
</div>

<dialog id="section-delete-confirm">
  <article>
    <header>
      <button rel="prev" class="close-btn" type="button" command="close" commandFor="section-delete-confirm" aria-label="Close"></button>
      <h4>Confirm</h4>
    </header>
    {{ if (gt (len .NoteDetails) 0)}}
    Cannot delete section until all associated notes are moved to a different section.
    <footer>
      <button command="close" commandFor="section-delete-confirm" class="secondary">Close</button>
    </footer>
    {{ else }}
    Delete Section {{ .Section.Name }}?
    <footer>
      <button command="close" commandFor="section-delete-confirm" class="secondary">Cancel</button>
      <button hx-delete="/section/{{ .Section.Id }}">Delete</button>
    </footer>
    {{ end }}

  </article>
</dialog>

{{ end }}
