{{ define "title" }}Tag: {{ .Tag.Name }} {{ end }}

{{ define "main" }}

<main>

  <div class="header-with-buttons">
    <h2>{{ .Tag.Name }}</h2>
    <div class="buttons">
      <button type="button" class="svg-button" command="show-modal" commandFor="tag-delete-confirm">
	<svg>
	  <use href="/static/vendor/svg/lucide-icons-sprite.svg#trash-2">
	</svg>
      </button>
      <button type="button" class="svg-button" hx-get="/tag/{{ .Tag.Id }}/edit" hx-target="#title">
	<svg>
	  <use href="/static/vendor/svg/lucide-icons-sprite.svg#pencil">
	</svg>
      </button>
    </div>
  </div>
  <hr>
    <ul class="list-of-links">
    {{ range .NoteDetails }}
    <li><a href="/note/{{ .Id }}/{{ slugify .Title }}">{{ .Title }}</a></li>
    {{ end }}

    <ul>
</main>

<dialog id="tag-delete-confirm">
  <article class="dialog-modal">
    <header class="header">
      <h4>Confirm</h4>
      <button rel="prev" class="svg-button" type="button" command="close" commandFor="section-delete-confirm" aria-label="Close">
	<svg>
	  <use href="/static/vendor/svg/lucide-icons-sprite.svg#x">
	</svg>
      </button>
    </header>
    <div class="content">
      Delete Tag {{ .Tag.Name }}?
      </div>
    <footer class="footer">
      <button command="close" commandFor="tag-delete-confirm" class="text-button">Cancel</button>
      <button hx-delete="/tag/{{ .Tag.Id }}" class="text-button">Delete</button>
    </footer>

  </article>
</dialog>


{{ end }}
