{{ define "title" }}Index{{ end }}

{{ define "main" }}

<main>
  <div class="header-with-buttons">
    <h2>Index</h2>
  </div>
  <hr class="hr-column">
  <ul class="list-of-links">
    {{ range .Tags }}
    <li>
      <a href="/tag/{{ .Id }}/{{ slugify .Name}}">{{ .Name }}</a>
    <li>
    {{ end }}
  </ul>

</main>

{{ end }}
