body {
    max-width: 1200px !important;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-basis-100 {
    flex: 0 0 100%;
}

.flex-1 {
    flex: 1;
}

.height-full {
    height: 100vh;
}

.height-75 {
    height: 75vh;
}

.height-50 {
    height: 50vh;
}

.width-full {
    width: 100%;
}

.width-90 {
    width: 90%;
}

.width-60 {
    width: 60%;
}

.items-center {
    align-items: center;
}

.margin-auto {
    margin: auto;
}

.content-center {
    align-content: center;
}

.content-start {
    align-content: start;
}

.justify-center {
    justify-content: center;
}

.article-container {
    display: flex;
    flex-direction: column;
}

article {
    flex: 1;
}

.search-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    background-color: #161f27;
}

.search-container:focus {
    box-shadow: 0 0 0 2px #0096bfab;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    margin-bottom: 6px;
    margin-top: 6px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
    margin-top: 6px;
}

.search-input:focus {
    box-shadow: none;
}

nav {
    margin-bottom: 15px;
}

nav > a {
    padding: 10px;
    color: #ffffff;
    font-weight: 600;
}
