body {
    max-width: 1000px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    background-color: #161f27;
}

.search-container:focus {
    box-shadow: 0 0 0 2px #0096bfab;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    margin-bottom: 6px;
    margin-top: 6px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
    margin-top: 6px;
}

.search-input:focus {
    box-shadow: none;
}
