{{ define "partial:tag:new" }}
{{ if ne .ErrMsg "" }}
<p>{{ .ErrMsg }}</p>
{{ else }}
<p>{{ .SuccessMsg }}</p>

<fieldset id="tag-selector" tabindex="0" hx-swap-oob="append:#tag-selector">
  <input type="checkbox" name="tags" id="tag-{{ .Tag.ID }}" value={{ .Tag.ID }} checked>
  <label for="tag-{{ .Tag.ID }}">{{ .Tag.Name }}</label>
</fieldset>
{{ end }}
{{ end }}


{{ define "partial:tag:put" }}
<form id="inline-section-form" autocomplete="off" class="header-edit-form" hx-put="/tag/{{ .ID }}" hx-swap="outerHTML">
  {{ with .FieldErrors.name }}
  <input type="text" name="tag-name" autofocus="true" value="{{ $.Name }}" aria-invalid="true" aria-describedby="invalid-helper" class="text-input">
  <small id="invalid-helper">{{ . }}</small>
  {{ else }}
  <input type="text" name="tag-name" autofocus="true" value="{{ $.Name }}" class="text-input">
  {{ end }}
  <div class="buttons">
  <button hx-get="/tag/{{ .ID }}/{{ slugify .Name }}" hx-target="body" type="button" class="text-button">Cancel</button>
  <button type="submit" class="text-button -alt">Save</button>
  </group>
</form>
{{ end }}
